.page-container {
    display: flex;
    height: $page-content-height;
    margin: 0 auto;
    max-width: $site-max-width;
    padding: 0;
    @media(min-width: 50rem){
        padding: $large-space $space;
    }
}

.page-container__sidebar {
    display: none;
    padding-right: $large-space;
    width: $page-content-sidebar-width;
    @media (min-width: 50rem) {
        display: flex;
    }
}

.page-container__main {
    display: flex;
    width: 100%;
    @media( min-width: 50rem ){
        width: $page-content-main-width;
    }
}