// Colors
$grey: #dddddd;
$dark-grey: #777777;
$medium-grey: #e1e1e1;
$light-grey: #f9f9f9;
$brand-primary: #3978b1;
$checkbox-checkmark-color: #09ad7e;

// Spacing
$space: 1.4rem;
$large-space: 2.8rem;
$site-max-width: 100rem;
$small-padding: 1rem;

// Font sizes:
$base-font-size: 1.6rem;
$large-font-size: 2.2rem;

// Font thickness:
$thin-font: 300;

// Form input:
$input-border: $grey;
$input-spacing: 1rem;

// Body:
$body-background-color: #f1f1f1;
$body-default-color: #333333;
$body-default-font-family: Helvetica, Arial, sans-serif;

// Boxed view variables
$boxed-view-overlay-bg: $grey;
$boxed-view-box-bg: white;
$boxed-view-border-color: $grey;
$boxed-view-width-normal: 24rem;
$boxed-view-width-wider: 30rem;
$boxed-view-width-max: 50rem;

// Private Header
$header-bg: $brand-primary;
$header-color: ghostwhite;
$header-height: 6rem;

// Content (_default.scss):
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(#{$site-max-width} - #{$page-content-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});

// Buttons
$button-bg: $brand-primary;
$button-text-color: ghostwhite;
$button-pill-color: $brand-primary;
$button-secondary-bg:  $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: #dddddd;
// ---- Lighten
$button-bg-lighten: lighten($button-bg, 8%);
$button-text-color-lighten: lighten($button-text-color, 8%);
$button-pill-color-lighten: lighten($button-pill-color, 20%);
$button-secondary-bg-lighten:  lighten($button-secondary-bg, 8%);
$button-secondary-color-lighten: lighten($button-secondary-color, 8%);
$button-secondary-border-color-lighten: lighten($button-secondary-border-color, 8%);
// ---- Darken
$button-bg-darken: darken($button-bg, 8%);
$button-text-color-darken: darken($button-text-color, 8%);
$button-pill-color-darken: darken($button-pill-color, 10%);
$button-secondary-bg-darken:  darken($button-secondary-bg, 8%);
$button-secondary-color-darken: darken($button-secondary-color, 8%);
$button-secondary-border-color-darken: darken($button-secondary-border-color, 8%);

// Item
$item-bg: $light-grey;
$item-border-color: darken($item-bg, 8%);
$item-text-color: $dark-grey;