.editor {
    background-color: white;
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $large-space;
    width: 100%;
}

input.editor__title {
    border: none;
    border-bottom: 2px solid $grey;
    font-size: $large-font-size;
    margin-bottom: $large-space;
    outline: none;
    padding: $input-spacing;
    text-transform: capitalize;
}

textarea.editor__body {
    flex-grow: 1;
    font-weight: 300;
    margin-bottom: $large-space;
    outline: none;
    padding: $input-spacing;
    resize: none;
    -webkit-overflow-scrolling: touch;
}

.editor__message--desktop {
    align-self: center;
    font-style: italic;
    display: none;
    @include desktop (){
        display: initial;
    }
}

.editor__message--mobile {
    align-self: center;
    display: initial;
    font-style: italic;
    @include desktop (){
        display: none;
    }
}

.editor__message-bars {
    height: 1rem;
    width: 1.5rem;
}